// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*:focus {
    box-shadow: none !important;
}

.text-hover-primary {
    transition: $transition-base;

    &:hover {
        color: $primary !important;
    }
}

.bg-hover-dark {
    transition: $transition-base;

    &:hover {
        background-color: $dark !important;
        color: $white !important;
    }
}

.bg-blue {
    background-color: #203A43;
}

table th,
table td,
table tr,
table thead,
table tbody {
    border: 0 !important;
    background-color: #fff !important;
}

.rating-icon {
    color: #ccc;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s;
}

.text-warning {
    color: $warning !important;
}